ul {
  padding: 0px;
}

.container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  /* width: 300px; */
  margin-bottom: 10px;
}

.name {
  background-color: rgb(255, 255, 255);
  padding: 1px;
  margin: 0;
  /* width: 100px; */
  text-align: center;
}

.button {
  padding: 3px;
  width: 100px;
  border: none;
  outline: 0;
  border-radius: 4px;
  background-color: rgb(199, 218, 190);
}

.button:hover {
  background-color: tomato;
  color: white;
  border: none;
}
